* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #a8c7e0;
}

body {
    background-color: #005282;
}

h1,
h3 {
    font-weight: bold;
    color: #a5e2d0;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

img {
    width: auto;
    height: 300px;
}

li {
    list-style: circle;
}

a {
    text-decoration: none;
    font-style: italic;
    color:#f0f8ff;
}

li a {
    font-style: normal;
    font-weight: 300;
}


